<launch>
  <arg name="use_rviz" default="true" />
  
  <include file="$(find grull_stereo)/launch/stereo_pg.launch">
  </include>
  <include file="$(find rsgm_ros)/launch/launch.launch">
      <arg name="disparity_filters_params" 
	    value="$(find disparity_filters)/params/disparity_filters_params_verdino.yaml" />
    </include>
    
    <node if="$(arg use_rviz)" pkg="rviz" type="rviz" name="rviz" required="false"  args="&#45;&#45;display-config 
          $(find rsgm_ros)/config/rsgm_ros.rviz"/>
</launch>