<launch>
    <arg name="namespace" default="rsgm_ros"/>
    <param name="use_sim_time" value="true"/>
    
    <node pkg="tf" type="static_transform_publisher" name="map2odom" args="0 10 0 0 0 0 map base_left_cam 100" />
    
    <group ns="$(arg namespace)">
        <node name="stereo_and_odom" pkg="polar_grid_tracking" type="stereo_and_odom" output="screen" required="true" >
        </node> 
        
        <node pkg="rsgm_ros" type="rsgm_ros" name="rsgm_ros" output="screen" required="true">
            <remap from="stereo" to="stereo_and_odom" />
            <remap from="stereo_and_odom/left/$(arg namespace)/image" to="stereo_and_odom/left/image" />
            <remap from="stereo_and_odom/right/$(arg namespace)/image" to="stereo_and_odom/right/image" />
            
            <rosparam file="$(find rsgm_ros)/params/rsgm_ros_params.yaml" command="load" ns="" />
        </node>
    </group>
    
    <node pkg="rviz" type="rviz" name="rviz" required="false"  args="&#45;&#45;display-config 
          $(find rsgm_ros)/config/rsgm_ros.rviz"/>
</launch>