<launch>
    <arg name="image_rect_color" default="pointgrey_camera"/>
    <arg name="pointgrey_camera" default="true"/>
    
    <param name="use_sim_time" value="false"/>

    <node pkg="tf" type="static_transform_publisher" name="map2odom" args="0 0 0 0 0 0 map odom 100" />
    <node pkg="tf" type="static_transform_publisher" name="odom2basefootprint" args="0 0 0 0 0 0 odom base_footprint 100" />
    <node pkg="tf" type="static_transform_publisher" name="basefootprint2baselink" args="0 0 0 -1.57 0 0 base_footprint base_link 100" />
    <node pkg="tf" type="static_transform_publisher" name="baselink2stereo" args="0.27 0 1.45 0 0 -1.57079632679489661923 base_link stereo 100" />

    <group if="$(arg pointgrey_camera)">
      <include file="$(find grull_stereo)/launch/stereo_pg.launch" />
    </group>

    <!--     Generates the disparity map -->
    <node pkg="rsgm_ros" type="rsgm_ros" name="rsgm_ros" output="screen" required="true">
      <remap from="image" to="image_rect_eyefish"/>
      <remap from="stereo" to="stereo"/>

      <rosparam file="$(find rsgm_ros)/params/rsgm_ros_params_verdino.yaml" command="load" ns="" />
    </node>

    <!--     Nodelet manager -->
    <node pkg="nodelet" type="nodelet" name="filter_manager" args="manager" output="screen" required="false" />

    <!--     Filters disparity map -->
<!--    <node pkg="nodelet" type="nodelet" name="DisparityFiltersNodelet"
          args="load disparity_filters/DisparityFiltersNodelet filter_manager" output="screen">
    </node>
    <rosparam file="$(arg disparity_filters_params_file)" command="load" ns="" />-->

    <!-- Generates the point cloud -->
    <node pkg="nodelet" type="nodelet" name="Depth2PointCloudNodelet"
            args="load depth_image_proc/point_cloud_xyzrgb filter_manager" output="screen">

        <remap from="rgb/image_rect_color" to="/stereo/left/$(arg image_rect_color)" />
        <remap from="rgb/camera_info" to="/stereo/left/camera_info" />
<!--         <remap from="depth_registered/image_rect" to="/filters/filter_manager/depth" /> -->
        <remap from="depth_registered/image_rect" to="/rsgm_ros/depth" />
    </node>
    
    
    <node pkg="rviz" type="rviz" name="rviz" required="false"  args="&#45;&#45;display-config
          $(find rsgm_ros)/config/rsgm_ros_verdino.rviz"/>
</launch>